cache-dir
**/Permanent_Data
**/logs
**/log
**/debug*
# 忽略匹配下列规则的Git 提交 V2.1.0
### gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.settings/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.lock
rebel.xml

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

### maven ###
target/
*.war
*.ear
*.tar
*.tar.gz

### logs ####
/logs/
*.log
**/logs

### temp ignore ###
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

### system ignore ###
.DS_Store
Thumbs.db
.metadata
upload
gen_code

### node ###
node_modules

### sonar ###
.scannerwork

/unionj-generator-backend/backend/
/unionj-generator-apidoc/apidoc
/unionj-generator-frontend/output
/unionj-generator-mock/mocks
/unionj-generator-service/services
/unionj-generator-frontend/vue/
/unionj-generator-frontend/__MACOSX/
/unionj-generator-backend/myproject-controller/
/unionj-generator-backend/myproject-proto/
/unionj-generator-backend/myproject-vo/
unionj-generator-backend/myproject-service/
