{
  "openapi": "3.0.3",
  "info": {
    "title": "community",
    "description": "community api",
    "termsOfService": "urn:tos",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://gateway.cac7d791610d6444899e9153f4f3a74d7.cn-beijing.alicontainer.com:80",
      "description": "Inferred Url"
    }
  ],
  "tags": [
    {
      "name": "任务大厅",
      "description": "Hall Controller"
    },
    {
      "name": "任务大厅:友情分享模块",
      "description": "Hall External Controller"
    },
    {
      "name": "任务大厅:新鲜事",
      "description": "Hall Event Controller"
    },
    {
      "name": "任务大厅:明察暗访任务模块",
      "description": "Hall Jiancha Controller"
    },
    {
      "name": "任务大厅:最新资讯",
      "description": "Hall News Controller"
    },
    {
      "name": "任务大厅:网络调查模块",
      "description": "Hall Online Survey Controller"
    },
    {
      "name": "任务大厅:面访任务模块",
      "description": "Hall Offline Survey Controller"
    },
    {
      "name": "对外系统接口:新鲜事事件",
      "description": "Community Event Feign Service Impl"
    },
    {
      "name": "对外系统接口:检查吧",
      "description": "Community Jianchaba Feign Service Impl"
    },
    {
      "name": "对外系统接口:问卷吧",
      "description": "Community Wenjuanba Feign Service Impl"
    },
    {
      "name": "微信",
      "description": "Wx Controller"
    },
    {
      "name": "数据字典接口",
      "description": "Enum Controller"
    },
    {
      "name": "用户端:个人中心",
      "description": "Front User Controller"
    },
    {
      "name": "用户端:网络调查模块",
      "description": "Front Online Survey Controller"
    },
    {
      "name": "管理后台:友情分享管理",
      "description": "Admin External Controller"
    },
    {
      "name": "管理后台:明察暗访任务",
      "description": "Admin Jiancha Controller"
    },
    {
      "name": "管理后台:最新资讯管理",
      "description": "Admin News Controller"
    },
    {
      "name": "管理后台:网络调查任务",
      "description": "Admin Online Survey Controller"
    },
    {
      "name": "管理后台:面对面访问任务",
      "description": "Admin Offline Survey Controller"
    },
    {
      "name": "调研工厂",
      "description": "Treeyee Controller"
    },
    {
      "name": "附件",
      "description": "Oss Controller"
    }
  ],
  "paths": {
    "/admin/external": {
      "get": {
        "tags": [
          "管理后台:友情分享管理"
        ],
        "summary": "友情分享信息",
        "operationId": "infoUsingGET",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«ExternalVo»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "管理后台:友情分享管理"
        ],
        "summary": "发布友情分享",
        "operationId": "postUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalPostDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«int»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "管理后台:友情分享管理"
        ],
        "summary": "删除友情分享",
        "operationId": "delUsingDELETE",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«int»"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/admin/external/list": {
      "post": {
        "tags": [
          "管理后台:友情分享管理"
        ],
        "summary": "友情分享分页",
        "operationId": "listUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«ExternalItemVo»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/admin/external/update": {
      "post": {
        "tags": [
          "管理后台:友情分享管理"
        ],
        "summary": "更新友情分享",
        "operationId": "updateUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalUpdateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«int»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/admin/jiancha/audit": {
      "post": {
        "tags": [
          "管理后台:明察暗访任务"
        ],
        "summary": "审核明察暗访任务",
        "operationId": "auditUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JianchaAuditRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«object»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/admin/jiancha/list": {
      "post": {
        "tags": [
          "管理后台:明察暗访任务"
        ],
        "summary": "明察暗访任务列表",
        "operationId": "listUsingPOST_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JianchaCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«JianchaItemVo»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/admin/news": {
      "get": {
        "tags": [
          "管理后台:最新资讯管理"
        ],
        "summary": "获取最新资讯信息",
        "operationId": "infoUsingGET_1",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "数据id",
            "required": true,
            "style": "form",
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«NewsVo»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "管理后台:最新资讯管理"
        ],
        "summary": "资讯发布",
        "operationId": "postUsingPOST_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsPostDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«int»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "管理后台:最新资讯管理"
        ],
        "summary": "删除资讯",
        "operationId": "delUsingDELETE_1",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "数据id",
            "required": true,
            "style": "form",
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«int»"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/admin/news/list": {
      "post": {
        "tags": [
          "管理后台:最新资讯管理"
        ],
        "summary": "最新资讯分页",
        "operationId": "listUsingPOST_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«NewsItemVo»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/admin/news/update": {
      "post": {
        "tags": [
          "管理后台:最新资讯管理"
        ],
        "summary": "修改资讯",
        "operationId": "updateUsingPOST_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsUpdateDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«int»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/admin/offlineSurvey/audit": {
      "post": {
        "tags": [
          "管理后台:面对面访问任务"
        ],
        "summary": "审核面访任务",
        "operationId": "auditUsingPOST_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OfflineSurveyAuditRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«object»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/admin/offlineSurvey/list": {
      "post": {
        "tags": [
          "管理后台:面对面访问任务"
        ],
        "summary": "面访任务列表",
        "operationId": "listUsingPOST_3",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfflineSurveyCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«OfflineSurveyItemVo»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/admin/onlineSurvey/audit": {
      "post": {
        "tags": [
          "管理后台:网络调查任务"
        ],
        "summary": "审批网络调查任务",
        "operationId": "auditUsingPOST_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineSurveyAuditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«object»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/admin/onlineSurvey/audit/list": {
      "post": {
        "tags": [
          "管理后台:网络调查任务"
        ],
        "summary": "网络调查任务审核列表",
        "operationId": "auditListUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineSurveyAuditCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«AdminOnlineSurveyAuditItemVo»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/admin/onlineSurvey/record/list": {
      "post": {
        "tags": [
          "管理后台:网络调查任务"
        ],
        "summary": "网络调查任务记录列表",
        "operationId": "recordListUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineSurveyRecordCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«AdminOnlineSurveyRecordVo»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/event": {
      "post": {
        "tags": [
          "对外系统接口:新鲜事事件"
        ],
        "summary": "推送新鲜事",
        "operationId": "addEventUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventAddDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FeignResultDto«int»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/jianchaba/jiancha": {
      "post": {
        "tags": [
          "对外系统接口:检查吧"
        ],
        "summary": "推送明察暗访任务",
        "operationId": "addJianchaUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JianchaInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FeignResultDto«int»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/jianchaba/jiancha/status": {
      "post": {
        "tags": [
          "对外系统接口:检查吧"
        ],
        "summary": "推送明察暗访任务状态",
        "operationId": "updateStatusUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JianchaStatusDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FeignResultDto«int»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/wenjuanba/offlineSurvey": {
      "post": {
        "tags": [
          "对外系统接口:问卷吧"
        ],
        "summary": "推送面访任务",
        "operationId": "addOfflineSurveyUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfflineSurveyInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FeignResultDto«int»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/wenjuanba/offlineSurvey/status": {
      "post": {
        "tags": [
          "对外系统接口:问卷吧"
        ],
        "summary": "推送面访任务状态",
        "operationId": "updateOfflineStatusUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfflineSurveyStatusDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FeignResultDto«int»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/api/wenjuanba/onlineSurvey": {
      "post": {
        "tags": [
          "对外系统接口:问卷吧"
        ],
        "summary": "推送网调任务",
        "operationId": "addOnlineSurveyUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OnlineSurveyInputDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FeignResultDto«int»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/enum/hall/externalStatus": {
      "get": {
        "tags": [
          "数据字典接口"
        ],
        "summary": "任务大厅:友情分享状态字典",
        "operationId": "hallExternalItemVoStatusEnumUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«Map«string,string»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/enum/hall/jianchaJoinStatus": {
      "get": {
        "tags": [
          "数据字典接口"
        ],
        "summary": "任务大厅:明察暗访任务报名状态字典",
        "operationId": "hallJianchaJoinStatusEnumUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«Map«string,string»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/enum/hall/offlineSurveyJoinStatus": {
      "get": {
        "tags": [
          "数据字典接口"
        ],
        "summary": "任务大厅:面访任务报名状态字典",
        "operationId": "hallOfflineSurveyJoinStatusEnumUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«Map«string,string»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/enum/hall/onlineSurveySubmitStatus": {
      "get": {
        "tags": [
          "数据字典接口"
        ],
        "summary": "任务大厅:网调任务答题状态字典",
        "operationId": "hallOnlineSurveySubmitStatusEnumUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«Map«string,string»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/enum/jianchaStatus": {
      "get": {
        "tags": [
          "数据字典接口"
        ],
        "summary": "管理后台:明察暗访任务【审核状态】字典",
        "operationId": "jianchaStatusUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«Map«string,string»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/enum/offlineSurveyStatus": {
      "get": {
        "tags": [
          "数据字典接口"
        ],
        "summary": "管理后台:线下面访任务【审核状态】字典",
        "operationId": "offlineSurveyStatusUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«Map«string,string»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/enum/onlineSurveyRecordStatus": {
      "get": {
        "tags": [
          "数据字典接口"
        ],
        "summary": "管理后台:网络调查任务【记录状态】字典",
        "operationId": "onlineSurveyRecordStatusUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«Map«string,string»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/enum/onlineSurveyStatus": {
      "get": {
        "tags": [
          "数据字典接口"
        ],
        "summary": "管理后台:网络调查任务【审核状态】字典",
        "operationId": "onlineSurveyStatusUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«Map«string,string»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/enum/pc/onlineSurveyAuditStatus": {
      "get": {
        "tags": [
          "数据字典接口"
        ],
        "summary": "用户端:我的任务:我的任务审核状态字典",
        "operationId": "frontOnlineSurveyRecordAuditStatusUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«Map«string,string»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/enum/user/userSex": {
      "get": {
        "tags": [
          "数据字典接口"
        ],
        "summary": "用户端:个人中心:性别数据字典",
        "operationId": "userSexUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«Map«string,string»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/pc/onlineSurvey/record/list": {
      "post": {
        "tags": [
          "用户端:网络调查模块"
        ],
        "summary": "我的任务:网络调查分页",
        "operationId": "recordListUsingPOST_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FrontUserOnlineSurveyRecordCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«FrontOnlineSurveyRecordItemVo»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/pc/user/info": {
      "get": {
        "tags": [
          "用户端:个人中心"
        ],
        "summary": "用户信息",
        "operationId": "infoUsingGET_2",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«FrontUserInfoVo»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/pc/user/post": {
      "post": {
        "tags": [
          "用户端:个人中心"
        ],
        "summary": "新增/更新用户信息",
        "operationId": "postUserInfoUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FrontUserPostDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«int»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/pc/user/submitStat": {
      "get": {
        "tags": [
          "用户端:个人中心"
        ],
        "summary": "答卷情况",
        "operationId": "submitStatUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«SubmitStatResultVo»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/pc/user/surveyAward": {
      "get": {
        "tags": [
          "用户端:个人中心"
        ],
        "summary": "问卷奖励",
        "operationId": "surveyAwardUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«SurveyAwardResultVo»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/latestOrder": {
      "get": {
        "tags": [
          "任务大厅"
        ],
        "summary": "最新任务数据",
        "operationId": "latestOrderUsingGET",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«List«LatestOrderResultVo»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/rank": {
      "get": {
        "tags": [
          "任务大厅"
        ],
        "summary": "收入排行榜数据",
        "operationId": "rankAwardUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«List«RankAwardResultVo»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/rank/finish": {
      "get": {
        "tags": [
          "任务大厅"
        ],
        "summary": "累计完成答卷数量排行数据",
        "operationId": "rankFinishUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«List«RankFinishResultVo»»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/stat": {
      "get": {
        "tags": [
          "任务大厅"
        ],
        "summary": "累计发布任务数量和累计赚钱金额",
        "operationId": "statUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«HallStatResultVo»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/event/list": {
      "post": {
        "tags": [
          "任务大厅:新鲜事"
        ],
        "summary": "新鲜事分页",
        "operationId": "listUsingPOST_4",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseSearchCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«EventItemVo»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/external/info": {
      "get": {
        "tags": [
          "任务大厅:友情分享模块"
        ],
        "summary": "友情分享详情",
        "operationId": "infoUsingGET_3",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«ExternalVo»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/external/list": {
      "post": {
        "tags": [
          "任务大厅:友情分享模块"
        ],
        "summary": "友情分享信息分页",
        "operationId": "listUsingPOST_5",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExternalCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«HallExternalItemVo»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/jiancha/info": {
      "get": {
        "tags": [
          "任务大厅:明察暗访任务模块"
        ],
        "summary": "任务详情",
        "operationId": "infoUsingGET_4",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«JianchaVo»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/jiancha/join": {
      "post": {
        "tags": [
          "任务大厅:明察暗访任务模块"
        ],
        "summary": "报名参加",
        "operationId": "joinUsingPOST",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«int»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/jiancha/join/list": {
      "post": {
        "tags": [
          "任务大厅:明察暗访任务模块"
        ],
        "summary": "报名者信息分页",
        "operationId": "joinListUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JianchaJoinCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«JoinUserItemVo»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/jiancha/list": {
      "post": {
        "tags": [
          "任务大厅:明察暗访任务模块"
        ],
        "summary": "分页",
        "operationId": "listUsingPOST_6",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HallJianchaSurveyCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«HallJianchaItemVo»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/news": {
      "get": {
        "tags": [
          "任务大厅:最新资讯"
        ],
        "summary": "获取信息",
        "operationId": "infoUsingGET_5",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "数据id",
            "required": true,
            "style": "form",
            "allowReserved": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«NewsVo»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/news/list": {
      "post": {
        "tags": [
          "任务大厅:最新资讯"
        ],
        "summary": "分页",
        "operationId": "listUsingPOST_7",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewsCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«NewsItemVo»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/offlineSurvey/info": {
      "get": {
        "tags": [
          "任务大厅:面访任务模块"
        ],
        "summary": "任务详情",
        "operationId": "infoUsingGET_6",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«OfflineSurveyVo»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/offlineSurvey/join": {
      "post": {
        "tags": [
          "任务大厅:面访任务模块"
        ],
        "summary": "报名参加",
        "operationId": "joinUsingPOST_1",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«int»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/offlineSurvey/join/list": {
      "post": {
        "tags": [
          "任务大厅:面访任务模块"
        ],
        "summary": "报名者信息分页",
        "operationId": "joinListUsingPOST_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OfflineJoinCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«JoinUserItemVo»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/offlineSurvey/list": {
      "post": {
        "tags": [
          "任务大厅:面访任务模块"
        ],
        "summary": "面访任务分页",
        "operationId": "listUsingPOST_8",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HallOfflineSurveyCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«HallOfflineSurveyItemVo»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/onlineSurvey/list": {
      "post": {
        "tags": [
          "任务大厅:网络调查模块"
        ],
        "summary": "网络调查分页",
        "operationId": "listUsingPOST_9",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Authorization",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseSearchCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«HallOnlineSurveyItemVo»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hall/onlineSurvey/share": {
      "post": {
        "tags": [
          "任务大厅:网络调查模块"
        ],
        "summary": "分享",
        "operationId": "shareUsingPOST",
        "parameters": [
          {
            "name": "wenjuanId",
            "in": "query",
            "description": "wenjuanId",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«object»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/hello": {
      "get": {
        "tags": [
          "hello"
        ],
        "summary": "hello",
        "operationId": "helloUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/who": {
      "get": {
        "tags": [
          "hello"
        ],
        "summary": "who",
        "operationId": "whoUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«UserIdentity»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/oss/get": {
      "get": {
        "tags": [
          "附件"
        ],
        "summary": "获取附件",
        "operationId": "getUsingGET",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "description": "key",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "style",
            "in": "query",
            "description": "style",
            "required": false,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/oss/upload": {
      "post": {
        "tags": [
          "附件"
        ],
        "summary": "上传附件",
        "operationId": "uploadUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/treeyee/bindPhone": {
      "post": {
        "tags": [
          "调研工厂"
        ],
        "summary": "绑定手机号",
        "operationId": "bindPhoneUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BindPhoneRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«BindPhoneResult»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/treeyee/contact": {
      "get": {
        "tags": [
          "调研工厂"
        ],
        "summary": "发布者联系信息",
        "operationId": "contactUsingGET",
        "parameters": [
          {
            "name": "publisherId",
            "in": "query",
            "description": "publisherId",
            "required": true,
            "style": "form",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PublisherPhoneVo»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/treeyee/customerCaptial": {
      "get": {
        "tags": [
          "调研工厂"
        ],
        "summary": "用户资金信息",
        "operationId": "customerCaptialUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«CustomerCaptialResult»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/treeyee/phoneBinding": {
      "get": {
        "tags": [
          "调研工厂"
        ],
        "summary": "是否已绑定手机号",
        "operationId": "phoneBindingUsingGET",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«boolean»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/treeyee/phoneCode": {
      "post": {
        "tags": [
          "调研工厂"
        ],
        "summary": "发送验证码",
        "operationId": "treeyeePhoneCodeUsingPOST",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "username",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«SendPhoneCodeResult»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/treeyee/tokenByUnionId": {
      "post": {
        "tags": [
          "调研工厂"
        ],
        "summary": "通过unionId获取token",
        "operationId": "tokenByUnionIdUsingPOST",
        "parameters": [
          {
            "name": "unionId",
            "in": "query",
            "description": "unionId",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«string»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/treeyee/transactionList": {
      "post": {
        "tags": [
          "调研工厂"
        ],
        "summary": "用户交易记录",
        "operationId": "transactionListUsingPOST",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BaseSearchCondition"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«PageResultVo«TransactionListItem»»"
                }
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/wx/mini/code2Session": {
      "get": {
        "tags": [
          "微信"
        ],
        "summary": "小程序：获取会话信息",
        "operationId": "code2SessionUsingGET",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "required": true,
            "style": "form",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ResultDto«MiniCode2SessionResultVo»"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdminOnlineSurveyAuditItemVo": {
        "title": "AdminOnlineSurveyAuditItemVo",
        "type": "object",
        "properties": {
          "createAt": {
            "type": "string",
            "description": "任务推送时间",
            "format": "date-time"
          },
          "id": {
            "type": "string",
            "description": "任务ID",
            "example": "renwu01"
          },
          "status": {
            "type": "integer",
            "description": "状态",
            "format": "int32",
            "example": 200
          },
          "wenjuanId": {
            "type": "string",
            "description": "问卷ID",
            "example": "Xddffs"
          },
          "wenjuanLink": {
            "type": "string",
            "description": "问卷链接",
            "example": "https://wj.treeyee.com/computer/index.html?surveyId=g8PizHDy&answerChannelId=343343818352885760"
          },
          "wenjuanName": {
            "type": "string",
            "description": "问卷名称",
            "example": "问卷01"
          }
        }
      },
      "AdminOnlineSurveyRecordVo": {
        "title": "AdminOnlineSurveyRecordVo",
        "type": "object",
        "properties": {
          "createAt": {
            "type": "string",
            "description": "发布时间",
            "format": "date-time"
          },
          "endAt": {
            "type": "string",
            "description": "截止时间",
            "format": "date-time"
          },
          "id": {
            "type": "string",
            "description": "任务ID",
            "example": "renwu01"
          },
          "publishBy": {
            "type": "string",
            "description": "发布人",
            "example": "王XX"
          },
          "renwuName": {
            "type": "string",
            "description": "任务名称",
            "example": "任务01"
          },
          "status": {
            "type": "integer",
            "description": "状态",
            "format": "int32",
            "example": 200
          },
          "wenjuanId": {
            "type": "string",
            "description": "问卷ID",
            "example": "assXXa"
          },
          "wenjuanName": {
            "type": "string",
            "description": "问卷名称",
            "example": "问卷01"
          }
        }
      },
      "AuditInfoDto": {
        "title": "AuditInfoDto",
        "required": [
          "id",
          "status"
        ],
        "type": "object",
        "properties": {
          "auditNote": {
            "type": "string",
            "description": "审批说明",
            "example": "审批说明"
          },
          "id": {
            "type": "string",
            "description": "任务ID",
            "example": "renwu01"
          },
          "status": {
            "type": "integer",
            "description": "审批状态",
            "format": "int32",
            "example": 200
          }
        }
      },
      "BaseSearchCondition": {
        "title": "BaseSearchCondition",
        "type": "object",
        "properties": {
          "current": {
            "type": "integer",
            "description": "当前页，从1开始",
            "format": "int64",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "每页条数，默认10, 传-1查出全部数据",
            "format": "int64",
            "example": 10
          },
          "maxPage": {
            "type": "integer",
            "description": "导出结束页",
            "format": "int64",
            "example": 5
          },
          "page": {
            "type": "integer",
            "description": "当前页，从1开始",
            "format": "int64",
            "example": 1
          },
          "size": {
            "type": "integer",
            "description": "每页条数，默认10，传-1查出全部数据",
            "format": "int64",
            "example": 10
          },
          "sort": {
            "type": "string",
            "description": "排序条件字符串：排序字段前使用'-'(降序)和'+'(升序)号表示排序规则，多个排序字段用','隔开",
            "example": "+id,-create_at"
          },
          "total": {
            "type": "integer",
            "description": "总数，入参传入此参数则不再查询count，以此total为准",
            "format": "int64",
            "example": 10
          }
        }
      },
      "BindPhoneRequest": {
        "title": "BindPhoneRequest",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "验证码"
          },
          "force": {
            "type": "boolean",
            "description": "是否强制绑定，一般用false",
            "example": false
          },
          "pw": {
            "type": "string",
            "description": "密码"
          },
          "username": {
            "type": "string",
            "description": "手机号"
          }
        }
      },
      "BindPhoneResult": {
        "title": "BindPhoneResult",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "消息"
          },
          "needForce": {
            "type": "boolean",
            "description": "是否需要强制绑定",
            "example": false
          },
          "success": {
            "type": "boolean",
            "description": "是否成功",
            "example": false
          }
        }
      },
      "CustomerCaptialResult": {
        "title": "CustomerCaptialResult",
        "type": "object",
        "properties": {
          "balance": {
            "type": "integer",
            "description": "账户余额（分）",
            "format": "int32"
          },
          "cashOut": {
            "type": "integer",
            "description": "已提现资金额（分）",
            "format": "int32"
          },
          "freezes": {
            "type": "integer",
            "description": "冻结金额（分）",
            "format": "int32"
          },
          "id": {
            "type": "integer",
            "description": "用户id",
            "format": "int32"
          },
          "reward": {
            "type": "integer",
            "description": "可提现资金额（分）",
            "format": "int32"
          },
          "sumBal": {
            "type": "integer",
            "description": "累计充值金额（分）",
            "format": "int32"
          },
          "sumReward": {
            "type": "integer",
            "description": "累计可提现金额（分）",
            "format": "int32"
          },
          "sumUse": {
            "type": "integer",
            "description": "累计花费金额（分）",
            "format": "int32"
          }
        }
      },
      "EventAddDto": {
        "title": "EventAddDto",
        "required": [
          "content"
        ],
        "type": "object",
        "properties": {
          "companyId": {
            "type": "integer",
            "description": "企业id",
            "format": "int32"
          },
          "content": {
            "type": "string",
            "description": "新鲜事内容"
          }
        }
      },
      "EventItemVo": {
        "title": "EventItemVo",
        "type": "object",
        "properties": {
          "createAt": {
            "type": "string",
            "description": "创建时间",
            "format": "date-time"
          },
          "id": {
            "type": "integer",
            "description": "数据id",
            "format": "int32",
            "example": 101
          },
          "name": {
            "type": "string",
            "description": "事件名称/描述",
            "example": "获得5元钱红包"
          },
          "realName": {
            "type": "string",
            "description": "用户姓名",
            "example": "张女士"
          }
        }
      },
      "ExternalCondition": {
        "title": "ExternalCondition",
        "type": "object",
        "properties": {
          "current": {
            "type": "integer",
            "description": "当前页，从1开始",
            "format": "int64",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "每页条数，默认10, 传-1查出全部数据",
            "format": "int64",
            "example": 10
          },
          "maxPage": {
            "type": "integer",
            "description": "导出结束页",
            "format": "int64",
            "example": 5
          },
          "page": {
            "type": "integer",
            "description": "当前页，从1开始",
            "format": "int64",
            "example": 1
          },
          "size": {
            "type": "integer",
            "description": "每页条数，默认10，传-1查出全部数据",
            "format": "int64",
            "example": 10
          },
          "sort": {
            "type": "string",
            "description": "排序条件字符串：排序字段前使用'-'(降序)和'+'(升序)号表示排序规则，多个排序字段用','隔开",
            "example": "+id,-create_at"
          },
          "total": {
            "type": "integer",
            "description": "总数，入参传入此参数则不再查询count，以此total为准",
            "format": "int64",
            "example": 10
          }
        }
      },
      "ExternalItemVo": {
        "title": "ExternalItemVo",
        "type": "object",
        "properties": {
          "createAt": {
            "type": "string",
            "description": "发布时间",
            "format": "date-time"
          },
          "describe": {
            "type": "string",
            "description": "说明",
            "example": "说明"
          },
          "endAt": {
            "type": "string",
            "description": "截止时间",
            "format": "date-time"
          },
          "from": {
            "type": "string",
            "description": "任务来源",
            "example": "问卷网"
          },
          "id": {
            "type": "integer",
            "description": "数据id",
            "format": "int32",
            "example": 100
          },
          "link": {
            "type": "string",
            "description": "任务链接",
            "example": "https://wj.treeyee.com/computer/index.html?surveyId=g8PizHDy&answerChannelId=343343818352885760"
          },
          "name": {
            "type": "string",
            "description": "友情分享任务名称",
            "example": "分享01"
          }
        }
      },
      "ExternalPostDto": {
        "title": "ExternalPostDto",
        "type": "object",
        "properties": {
          "createAt": {
            "type": "string",
            "description": "推送时间",
            "format": "date-time"
          },
          "describe": {
            "type": "string",
            "description": "说明",
            "example": "xxxxx"
          },
          "endAt": {
            "type": "string",
            "description": "截止时间",
            "format": "date-time"
          },
          "from": {
            "type": "string",
            "description": "来源",
            "example": "问卷网"
          },
          "link": {
            "type": "string",
            "description": "链接",
            "example": "https://wj.treeyee.com/computer/index.html?surveyId=g8PizHDy&answerChannelId=343343818352885760"
          },
          "name": {
            "type": "string",
            "description": "友情分享任务名称",
            "example": "分享01"
          }
        }
      },
      "ExternalUpdateDto": {
        "title": "ExternalUpdateDto",
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "createAt": {
            "type": "string",
            "description": "推送时间",
            "format": "date-time"
          },
          "describe": {
            "type": "string",
            "description": "说明",
            "example": "xxxxx"
          },
          "endAt": {
            "type": "string",
            "description": "截止时间",
            "format": "date-time"
          },
          "from": {
            "type": "string",
            "description": "来源",
            "example": "问卷网"
          },
          "id": {
            "type": "integer",
            "description": "id",
            "format": "int32",
            "example": 100
          },
          "link": {
            "type": "string",
            "description": "链接",
            "example": "https://wj.treeyee.com/computer/index.html?surveyId=g8PizHDy&answerChannelId=343343818352885760"
          },
          "name": {
            "type": "string",
            "description": "友情分享任务名称",
            "example": "分享01"
          }
        }
      },
      "ExternalVo": {
        "title": "ExternalVo",
        "type": "object",
        "properties": {
          "createAt": {
            "type": "string",
            "description": "发布时间",
            "format": "date-time"
          },
          "describe": {
            "type": "string",
            "description": "说明",
            "example": "说明"
          },
          "endAt": {
            "type": "string",
            "description": "截止时间",
            "format": "date-time"
          },
          "from": {
            "type": "string",
            "description": "任务来源",
            "example": "问卷网"
          },
          "id": {
            "type": "integer",
            "description": "数据id",
            "format": "int32",
            "example": 100
          },
          "link": {
            "type": "string",
            "description": "任务链接",
            "example": "https://wj.treeyee.com/computer/index.html?surveyId=g8PizHDy&answerChannelId=343343818352885760"
          },
          "name": {
            "type": "string",
            "description": "友情分享任务名称",
            "example": "分享01"
          }
        }
      },
      "FeignResultDto«int»": {
        "title": "FeignResultDto«int»",
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "返回标记：成功标记=0，失败标记=1",
            "format": "int32"
          },
          "data": {
            "type": "integer",
            "description": "数据",
            "format": "int32"
          },
          "msg": {
            "type": "string",
            "description": "返回信息"
          },
          "ok": {
            "type": "boolean"
          }
        }
      },
      "FrontOnlineSurveyRecordItemVo": {
        "title": "FrontOnlineSurveyRecordItemVo",
        "type": "object",
        "properties": {
          "auditStatus": {
            "type": "integer",
            "description": "审核状态",
            "format": "int32",
            "example": 200
          },
          "award": {
            "type": "number",
            "description": "以获红包",
            "format": "double",
            "example": 5
          },
          "createAt": {
            "type": "string",
            "description": "发布时间",
            "format": "date-time"
          },
          "endAt": {
            "type": "string",
            "description": "截止时间",
            "format": "date-time"
          },
          "id": {
            "type": "string",
            "description": "任务ID",
            "example": "renwu01"
          },
          "link": {
            "type": "string",
            "description": "问卷链接",
            "example": "https://wj.treeyee.com/computer/index.html?surveyId=g8PizHDy&answerChannelId=343343818352885760"
          },
          "renwuName": {
            "type": "string",
            "description": "任务名称",
            "example": "任务01"
          },
          "shareAward": {
            "type": "boolean",
            "description": "分享有否红包",
            "example": true
          },
          "shareAwardTotal": {
            "type": "number",
            "description": "已获分享红包（元）",
            "format": "bigdecimal",
            "example": 10
          },
          "shareLink": {
            "type": "string",
            "description": "分享链接",
            "example": "https://wj.treeyee.com/computer/index.html?surveyId=g8PizHDy&answerChannelId=343343818352885760"
          },
          "sharePrice": {
            "type": "number",
            "description": "分享奖励",
            "format": "double",
            "example": 50
          },
          "shareQuantity": {
            "type": "integer",
            "description": "已分享数量",
            "format": "int32",
            "example": 10
          },
          "status": {
            "type": "integer",
            "description": "状态: 已答题、未答题、已结束",
            "format": "int32",
            "example": 200
          },
          "submitAt": {
            "type": "string",
            "description": "答卷时间",
            "format": "date-time"
          },
          "submitAward": {
            "type": "boolean",
            "description": "答题有否【固定红包】",
            "example": true
          },
          "submitPrice": {
            "type": "number",
            "description": "【固定红包】答题奖励",
            "format": "double",
            "example": 50
          },
          "surveyLinkOpenFlag": {
            "type": "boolean",
            "description": "答题链接开启状态",
            "example": true
          },
          "wenjuanId": {
            "type": "string",
            "description": "问卷ID",
            "example": "assXXa"
          },
          "wenjuanName": {
            "type": "string",
            "description": "问卷名称",
            "example": "问卷01"
          }
        }
      },
      "FrontUserInfoVo": {
        "title": "FrontUserInfoVo",
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "详细地址",
            "example": "北京市朝阳区XXX小区"
          },
          "birthYear": {
            "type": "integer",
            "description": "出生年",
            "format": "int32",
            "example": 1990
          },
          "email": {
            "type": "string",
            "description": "邮箱",
            "example": "sample@abc.com"
          },
          "goodAt": {
            "type": "string",
            "description": "专业擅长",
            "example": "擅长XX"
          },
          "hometown": {
            "type": "string",
            "description": "籍贯",
            "example": "北京市"
          },
          "name": {
            "type": "string",
            "description": "姓名",
            "example": "王XX"
          },
          "phone": {
            "type": "string",
            "description": "联系方式",
            "example": "18212349646"
          },
          "sex": {
            "type": "integer",
            "description": "100：男，200：女",
            "format": "int32",
            "example": 200
          },
          "workCity": {
            "type": "string",
            "description": "可工作地区",
            "example": "北京市"
          }
        }
      },
      "FrontUserOnlineSurveyRecordCondition": {
        "title": "FrontUserOnlineSurveyRecordCondition",
        "type": "object",
        "properties": {
          "current": {
            "type": "integer",
            "description": "当前页，从1开始",
            "format": "int64",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "每页条数，默认10, 传-1查出全部数据",
            "format": "int64",
            "example": 10
          },
          "maxPage": {
            "type": "integer",
            "description": "导出结束页",
            "format": "int64",
            "example": 5
          },
          "page": {
            "type": "integer",
            "description": "当前页，从1开始",
            "format": "int64",
            "example": 1
          },
          "size": {
            "type": "integer",
            "description": "每页条数，默认10，传-1查出全部数据",
            "format": "int64",
            "example": 10
          },
          "sort": {
            "type": "string",
            "description": "排序条件字符串：排序字段前使用'-'(降序)和'+'(升序)号表示排序规则，多个排序字段用','隔开",
            "example": "+id,-create_at"
          },
          "status": {
            "type": "array",
            "description": "状态",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "total": {
            "type": "integer",
            "description": "总数，入参传入此参数则不再查询count，以此total为准",
            "format": "int64",
            "example": 10
          }
        }
      },
      "FrontUserPostDto": {
        "title": "FrontUserPostDto",
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "详细地址",
            "example": "北京市朝阳区XXX小区"
          },
          "birthYear": {
            "type": "integer",
            "description": "出生年",
            "format": "int32",
            "example": 1990
          },
          "email": {
            "type": "string",
            "description": "邮箱",
            "example": "sample@abc.com"
          },
          "goodAt": {
            "type": "string",
            "description": "专业擅长",
            "example": "擅长XX"
          },
          "hometown": {
            "type": "string",
            "description": "籍贯",
            "example": "北京市"
          },
          "name": {
            "type": "string",
            "description": "姓名",
            "example": "王XX"
          },
          "sex": {
            "type": "integer",
            "description": "100：男，200：女",
            "format": "int32",
            "example": 200
          },
          "workCity": {
            "type": "string",
            "description": "可工作地区",
            "example": "北京市"
          }
        }
      },
      "HallExternalItemVo": {
        "title": "HallExternalItemVo",
        "type": "object",
        "properties": {
          "createAt": {
            "type": "string",
            "description": "发布时间",
            "format": "date-time"
          },
          "describe": {
            "type": "string",
            "description": "说明",
            "example": "说明"
          },
          "endAt": {
            "type": "string",
            "description": "截止时间",
            "format": "date-time"
          },
          "from": {
            "type": "string",
            "description": "任务来源",
            "example": "问卷网"
          },
          "id": {
            "type": "integer",
            "description": "数据id",
            "format": "int32",
            "example": 100
          },
          "link": {
            "type": "string",
            "description": "任务链接",
            "example": "https://wj.treeyee.com/computer/index.html?surveyId=g8PizHDy&answerChannelId=343343818352885760"
          },
          "name": {
            "type": "string",
            "description": "友情分享任务名称",
            "example": "分享01"
          },
          "status": {
            "type": "integer",
            "description": "状态, 已过期，未过期",
            "format": "int32",
            "example": 100
          }
        }
      },
      "HallJianchaItemVo": {
        "title": "HallJianchaItemVo",
        "type": "object",
        "properties": {
          "createAt": {
            "type": "string",
            "description": "任务推送时间",
            "format": "date-time"
          },
          "describe": {
            "type": "string",
            "description": "项目说明",
            "example": "说明XXX"
          },
          "dianwei": {
            "type": "string",
            "description": "检查任务所在地区",
            "example": "北京市"
          },
          "endAt": {
            "type": "string",
            "description": "项目截止时间",
            "format": "date-time"
          },
          "id": {
            "type": "integer",
            "description": "任务ID",
            "format": "int64"
          },
          "indicator": {
            "type": "string",
            "description": "检查指标",
            "example": "指标XX"
          },
          "name": {
            "type": "string",
            "description": "明察暗访任务名称",
            "example": "明察暗访01"
          },
          "price": {
            "type": "number",
            "description": "报酬，单位：元",
            "format": "double",
            "example": 600.8
          },
          "publisherId": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "type": "integer",
            "description": "状态",
            "format": "int32",
            "example": 400
          },
          "userQuantity": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "HallJianchaSurveyCondition": {
        "title": "HallJianchaSurveyCondition",
        "required": [
          "userId"
        ],
        "type": "object",
        "properties": {
          "current": {
            "type": "integer",
            "description": "当前页，从1开始",
            "format": "int64",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "每页条数，默认10, 传-1查出全部数据",
            "format": "int64",
            "example": 10
          },
          "maxPage": {
            "type": "integer",
            "description": "导出结束页",
            "format": "int64",
            "example": 5
          },
          "page": {
            "type": "integer",
            "description": "当前页，从1开始",
            "format": "int64",
            "example": 1
          },
          "size": {
            "type": "integer",
            "description": "每页条数，默认10，传-1查出全部数据",
            "format": "int64",
            "example": 10
          },
          "sort": {
            "type": "string",
            "description": "排序条件字符串：排序字段前使用'-'(降序)和'+'(升序)号表示排序规则，多个排序字段用','隔开",
            "example": "+id,-create_at"
          },
          "total": {
            "type": "integer",
            "description": "总数，入参传入此参数则不再查询count，以此total为准",
            "format": "int64",
            "example": 10
          },
          "userId": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "HallOfflineSurveyCondition": {
        "title": "HallOfflineSurveyCondition",
        "required": [
          "userId"
        ],
        "type": "object",
        "properties": {
          "current": {
            "type": "integer",
            "description": "当前页，从1开始",
            "format": "int64",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "每页条数，默认10, 传-1查出全部数据",
            "format": "int64",
            "example": 10
          },
          "maxPage": {
            "type": "integer",
            "description": "导出结束页",
            "format": "int64",
            "example": 5
          },
          "name": {
            "type": "string",
            "description": "任务名称（模糊查询）",
            "example": "任务"
          },
          "page": {
            "type": "integer",
            "description": "当前页，从1开始",
            "format": "int64",
            "example": 1
          },
          "size": {
            "type": "integer",
            "description": "每页条数，默认10，传-1查出全部数据",
            "format": "int64",
            "example": 10
          },
          "sort": {
            "type": "string",
            "description": "排序条件字符串：排序字段前使用'-'(降序)和'+'(升序)号表示排序规则，多个排序字段用','隔开",
            "example": "+id,-create_at"
          },
          "status": {
            "type": "array",
            "description": "状态",
            "example": "[100,200]",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "topStatus": {
            "type": "integer",
            "description": "需要排在前的状态",
            "format": "int32",
            "example": 100
          },
          "total": {
            "type": "integer",
            "description": "总数，入参传入此参数则不再查询count，以此total为准",
            "format": "int64",
            "example": 10
          },
          "userId": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "HallOfflineSurveyItemVo": {
        "title": "HallOfflineSurveyItemVo",
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "description": "面访地区",
            "example": "北京市"
          },
          "amount": {
            "type": "integer",
            "description": "面访总量",
            "format": "int32",
            "example": 600
          },
          "createAt": {
            "type": "string",
            "description": "任务推送时间",
            "format": "date-time"
          },
          "describe": {
            "type": "string",
            "description": "说明",
            "example": "说明XXX"
          },
          "endAt": {
            "type": "string",
            "description": "截止时间",
            "format": "date-time"
          },
          "id": {
            "type": "string",
            "description": "任务id",
            "example": "mianfangRenwu01"
          },
          "name": {
            "type": "string",
            "description": "面对面访问任务名称",
            "example": "面访任务01"
          },
          "price": {
            "type": "number",
            "description": "单价，单位：元",
            "format": "double",
            "example": 100.5
          },
          "publisherId": {
            "type": "integer",
            "description": "发布人调研工厂的账号id",
            "format": "int32"
          },
          "status": {
            "type": "integer",
            "description": "状态",
            "format": "int32",
            "example": 200
          },
          "userQuantity": {
            "type": "integer",
            "description": "报名人数",
            "format": "int32"
          }
        }
      },
      "HallOnlineSurveyItemVo": {
        "title": "HallOnlineSurveyItemVo",
        "type": "object",
        "properties": {
          "createAt": {
            "type": "string",
            "description": "发布时间",
            "format": "date-time"
          },
          "endAt": {
            "type": "string",
            "description": "截止时间",
            "format": "date-time"
          },
          "id": {
            "type": "string",
            "description": "任务ID",
            "example": "renwu01"
          },
          "link": {
            "type": "string",
            "description": "问卷链接",
            "example": "https://wj.treeyee.com/computer/index.html?surveyId=g8PizHDy&answerChannelId=343343818352885760"
          },
          "renwuName": {
            "type": "string",
            "description": "任务名称",
            "example": "任务01"
          },
          "shareAward": {
            "type": "boolean",
            "description": "分享有否红包",
            "example": true
          },
          "shareLink": {
            "type": "string",
            "description": "分享链接",
            "example": "https://wj.treeyee.com/computer/index.html?surveyId=g8PizHDy&answerChannelId=343343818352885760"
          },
          "sharePrice": {
            "type": "number",
            "description": "分享奖励",
            "format": "double",
            "example": 50
          },
          "status": {
            "type": "integer",
            "description": "状态: 已答题、未答题、已结束",
            "format": "int32",
            "example": 200
          },
          "submitAward": {
            "type": "boolean",
            "description": "答题有否【固定红包】",
            "example": true
          },
          "submitPrice": {
            "type": "number",
            "description": "【固定红包】答题奖励",
            "format": "double",
            "example": 50
          },
          "wenjuanId": {
            "type": "string",
            "description": "问卷ID",
            "example": "assXXa"
          },
          "wenjuanName": {
            "type": "string",
            "description": "问卷名称",
            "example": "问卷01"
          }
        }
      },
      "HallStatResultVo": {
        "title": "HallStatResultVo",
        "type": "object",
        "properties": {
          "incomeQuantity": {
            "type": "number",
            "description": "用户累计赚钱金额",
            "format": "bigdecimal",
            "example": 3452100
          },
          "publishQuantity": {
            "type": "integer",
            "description": "用户累计发布任务数量",
            "format": "int64",
            "example": 998
          }
        }
      },
      "JianchaAuditRequest": {
        "title": "JianchaAuditRequest",
        "required": [
          "id",
          "status"
        ],
        "type": "object",
        "properties": {
          "auditNote": {
            "type": "string",
            "description": "审批说明",
            "example": "审核通过XXX, 拒绝XXX"
          },
          "id": {
            "type": "integer",
            "description": "任务ID",
            "format": "int64"
          },
          "status": {
            "type": "integer",
            "description": "审批状态",
            "format": "int32",
            "example": 300
          }
        }
      },
      "JianchaCondition": {
        "title": "JianchaCondition",
        "type": "object",
        "properties": {
          "current": {
            "type": "integer",
            "description": "当前页，从1开始",
            "format": "int64",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "每页条数，默认10, 传-1查出全部数据",
            "format": "int64",
            "example": 10
          },
          "maxPage": {
            "type": "integer",
            "description": "导出结束页",
            "format": "int64",
            "example": 5
          },
          "name": {
            "type": "string",
            "description": "项目名称（模糊查询）",
            "example": "检查"
          },
          "page": {
            "type": "integer",
            "description": "当前页，从1开始",
            "format": "int64",
[...]
